<div class="container-fluid body-content-wrapper">
  <div class="header contact-header">
        <h1>
          <a href="#contact">For more details contact us :</a>
        </h1>
  </div>
  <div class="row">
    <div class="col-sm-6 col-md-6 contact-info">
      
      <div class="details">
        <h1>SHWETA PATIL
        </h1>
        <p>
          <a href="#">
            <span class="glyphicon glyphicon-envelope"></span>
          </a>
          Email : shwetzpatil@gmail.com
        </p>
        <p>
          <a href="#">
            <span class="glyphicon glyphicon-phone"></span>
          </a>Phone No : +447438856372
        </p>
        <p>
          <a href="#">
            <span class="glyphicon glyphicon-home"></span>
          </a>
          Address :
          <br> Hurricane House
          <br> Coombe Lane
          <br> Raynes Park
          <br> SW20 0BW
          <br> LONDON.
        </p>
      </div> 
    </div>  
    <div class="col-sm-6 col-md-6 contact-form">
      <h3>Contact Us</h3>

      <%= flash[:notice] %>

      <%= form_with(url:"/simple_pages/thank_you", method: "post", local: true) do |form| %>
      <div class="row contact-form-body">
        <div class="form-group">
          <%= form.label :name %>
          <%= form.text_field :name, id: :name, class: "form-control", placeholder: "Enter Name" %>
        </div>
        <div class="form-group">
          <%= form.label :email %>
          <%= form.text_field :email, id: :email, class: "form-control", placeholder: "Enter Email" %>
        </div>
        <div class="form-group">
          <%= form.label :message %>
          <%= form.text_area :message, id: :message, class: "form-control", placeholder: "Enter Message", rows: 5 %>
        </div>
      </div>
      <%= form.submit "Send", class: "form_label" %>
      <% end %>
    </div>  
  </div>
</div>  