<div class="container-fluid body-content-wrapper">
  <div class="page-header">
        <h1>For more details contact us :</h1>
  </div>
  <div class="row">  
    <div class="col-md-4"></div>  
    <div class="col-md-4 contact-form">
      <%= flash[:notice] %>

      <%= form_with(url:"/simple_pages/thank_you", method: "post", local: true) do |form| %>
      <div class="row contact-form-body text-center">     
        <div class="form-group">
          <%= form.label :name %>
          <%= form.text_field :name, id: :name, class: "form-control", placeholder: "Enter Name", required: true %>
        </div>
        <div class="form-group">
          <%= form.label :email %>
          <%= form.text_field :email, id: :email, class: "form-control", placeholder: "Enter Email", required: true %>
        </div>
        <div class="form-group">
          <%= form.label :message %>
          <%= form.text_area :message, id: :message, class: "form-control", placeholder: "Enter Message", rows: 5, required: true %>
        </div>
        <div class="form-group">
          <%= form.submit "Send", class: "form_label btn btn-primary" %>
          <% end %>
        </div>
      </div>    
    </div>  
  </div>
</div>  