<div class="row">
  <hr>
    <p>
      <div class="rated" data-score="<%= comment.rating %>"></div>
    </p>
    <p><%= comment.user.first_name %></p>
    <p>
      <%= comment.user.first_name %> <%= "#{time_ago_in_words(comment.created_at)} ago"%>
      <% if ((defined?(user_ability) && user_ability.can?(:delete, comment)) or (can? :delete, comment)) %>
      <%= link_to ('<span class="glyphicon glyphicon-remove"></span>').html_safe,
          product_comment_path(comment.product, comment),
          method: :delete, data: { confirm: "Are you sure?"} %>
      <% end %>
      <%# <% if current_user && current_user.admin? %> 
      <%# <%= link_to ('<span class="glyphicon glyphicon-remove"></span>').html_safe, %>
      <%# product_comment_path(comment.product, comment), %>
      <%# method: :delete, data: { confirm: "Are you sure?"} %> 
      <%# <% end %>
      </p>
   
    <p class="comment-body"><%= comment.body %></p>
</div>