<div class="container-fluid body-content-wrapper">

  <div style="font-size:20px; color:red;"><% if can? :crud, Product %><%= link_to 'New Product', new_product_path %><% end %></div>

  <h1>Products</h1>
  
    <h2> Total product count: <%= @product_count %> </h2>
    <% cache @products do %>
      <% @products.in_groups_of(@items_per_row).each do |product_group| %>
        <div class="row">
          <% product_group.each do |product| %>
            <% if product.present? %>
              <%= render partial: "product", locals: {product: product} %>
            <% end %>  
            <% end %>
          <% end %>
        </div> 
      <% end %>
      <div class="pagination">
        <div class="page_info">
          <%= page_entries_info @products %>
        </div>
        <%= will_paginate @products, :container => false %>
      </div> 
</div>