<div class="container-fluid body-content-wrapper">
  <div class="row product-show" data-product-id="<%= @product.id %>">
    <div class="col-sm-12 col-md-6">
      <p>
        <%= image_tag(@product.image_url, class: 'img-responsive img-zoom', width: "350", class: "img-zoom", data_zoom_image: "@product.image_url") %>
      </p>
      <p><%= render 'new_comment' %></p>
      <div class="alert alert-info" style="display:none" role="alert">A new comment was posted!</div>
      <p><%= render "comments"%></p>
      <%= will_paginate @comments %>
    </div>

    <div class="col-md-6 text-left">  

    <% cache @product do %>
      <p>
        <h1 class="text-uppercase"><%= @product.name %></h1>
      </p>

      <p>
        <strong>Colour:</strong>
        <%= @product.colour %>
      </p>

      <p>
        <strong>Description:</strong>
        <%= @product.description %>
      </p>

      <p>
        <strong>Price:</strong>
        <%= @product.price %>
      </p>
    <% end %>
      <p><strong>Average Rating:</strong>
      <div id="average_rating" class="rated" data-score="<%= @product.average_rating %>"></div> 
      </p>
      <p>Ordercount:<%= @product.orders.count %></p>

      <h6>Views: <span class="badge"><%= @product.views %></span></h6> 
      
      <p>
        <% if can? :crud, Product %>
          <%= link_to 'Edit', edit_product_path(@product), class:"btn btn-info" %>
        <% end %>
        <%= link_to 'Back', products_path, class:"btn btn-default" %>
      </p>

      <p>
        <%= form_with(url: '/payments/create') do |form| %>
          <%= render partial: "shared/stripe_checkout_button" %>
          <%= hidden_field_tag(:product_id, @product.id) %>
        <% end %>
    </p>
    </div>  
  </div>      
</div>
